<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Perjalanan Kami</h2>
                    <h3 class="section-subheading text-muted">Cerita bagaimana kami bertemu, mengenal, dan memutuskan</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">kami saling mengenal untuk pertama kali. Perkenalan yg hanya sebatas teman sekelas (yg bahkan Ardhi pun lupa :p). Kami menjalani kehidupan kami masing-masing. Satu tahun berlalu, kami dipisahkan kembali pada kelas yg berbeda.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006</h4>
                                    <h4 class="subheading">When it all started</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lagi, kami berada dalam 1 kelas yang sama. 1 tahun kedepan yg kami jalani berbeda dgn masa" kls 1. Bukan, sekedar teman sekelas, kami pun menjadi teman bermain. Bersama dengan beberapa sahabat, kami sering berkumpul bersama. Kebun raya bogor, pangrango plaza (yang sekarang sudah menjadi abu), dan rumah salah seorang sahabat menjadi saksi petualangan kami.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2013</h4>
                                    <h4 class="subheading">Two human</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kami melanjutkan hidup masing-masing dgn sekolah yg berbeda, kegiatan yg berbeda. Tapi selalu ada kesempatan kami bertemu bersama dengan sahabat lainnya, entah untuk merayakan ulang tahun, buka puasa bersama, atau sekedar mengunjungi pasar malam di Bogor.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Love is silent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tanpa kami sadari, dalam diam ada rasa yg tumbuh berbeda. Tapi tidak ada kata yg terucap untuk membahas ini secara serius. Sungguh yg bisa kami lakukan saat itu adalah terus memperbaiki diri dan berdoa semoga Allah menunjukkan yang terbaik untuk masing-masing diri kami.

                                    Sampai saatnya Ardhi harus pergi merantau, itu saat pertama kali pembahasan ini muncul ke permukaan. Kami berdua sama" serius, tapi kondisi tidak memungkinkan untuk kami bersama. Ada jalan masing-masing yg harus kami tempuh terlebih dahulu. Sehingga, terus memperbaiki diri, meluruskan niat, dan berdoa adalah jawaban pada saat itu.</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agustus 2015</h4>
                                    <h4 class="subheading">When family was involved</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Memanfaatkan momen liburan, bertepatan dgn hari raya Idul Fitri ardhi kembali ke Indonesia. Saat itu, ardhi mulai menjalin silaturahmi dengan keluarga hilda. Komunikasi diantara mereka berjalan dengan baik. Hilda pun mulai berkenalan dengan keluarga Ardhi. Saat Ardhi harus kembali pergi, sudah ada keyakinan bahwa ada keseriusan diantara diri kami masing-masing. Tapi kami masih menunggu saat yg tepat..</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted last">
                            <div class="timeline-image">
                                <h4>Let us
                                    <br>create our stories</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Desember 2015</h4>
                                    <h4 class="subheading">The big day</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                 Tidak ada yg tahu rencana yg Allah persiapkan untuk kami. Tanpa diduga sebelumnya saat yang tepat itu terjadi pada bulan ini. 20 Desember 2015, 9 Rabiul Awal 1437. 1 hari sebelum Rasulullah Muhammad SAW menikah dengan Khadijah. Semoga keluarga kecil yg akan kami bangun, dipenuhi dgn rahmah seperti Rasul dgn Khadijah, dipenuhi dgn mawaddah seperti Rasul dgn Aisyah, dan diberikan sakinnah pada hati kami.</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
