<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Perjalanan Kami</h2>
                    <h3 class="section-subheading">Cerita bagaimana kami bertemu, mengenal, dan memutuskan</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/p4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Perkenalan pertama kali hanya sebatas teman sekelas (bahkan Ardhi pun lupa :p). Begitu saja. Setahun pun berlalu, kami dipisahkan oleh kelas yang berbeda</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kbr.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006</h4>
                                    <h4 class="subheading">When It All Started</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kami sekelas lagi. Kali ini berbeda, kami menjadi partner berpetualang bersama dengan beberapa sahabat kami yang lain. Mulai dari Kebun Raya Bogor, Pangrango Plaza (yang sekarang sudah menjadi abu), dan rumah salah seorang sahabat menjadi saksi petualangan kami.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uipb2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2013</h4>
                                    <h4 class="subheading">Two Personalities</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kami terpisah lagi. Tapi selalu, selalu kami sempatkan bertemu, walau sekedar ulang tahun teman, buka puasa bersama, atau berkunjung ke pasar malam</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/map.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Love Is Silent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dalam diam ada rasa berbeda yang kami rasakan satu sama lain. Namun, tiada kata terucap, seserius apapun perasaan itu. Kami hanya bisa memperbaiki diri, berdoa, dan berserah. Semoga Allah menunjukkan yang terbaik untuk kami berdua.
                                    Kemudian tiba saatnya Ardhi harus merantau ke negeri kincir. Terucaplah keseriusan itu. Sayangnya, situasi tidak memungkinkan untuk kami bersama. Ada jalan yang harus kami tempuh terlebih dahulu. Sehingga, memperbaiki diri, meluruskan niat, dan berdoa adalah jawabannya.</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/seserahan.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2015</h4>
                                    <h4 class="subheading">Family Matters</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Di masa liburan Idul Fitri, Ardhi kembali ke Indonesia. Ardhi pun mulai menjalin silaturahmi dengan keluarga Hilda. Komunikasi diantara mereka berjalan dengan baik. Hilda pun mulai berkenalan dengan keluarga Ardhi. Saat Ardhi harus kembali pergi, sudah ada keyakinan bahwa ada keseriusan diantara Ardhi dan Hilda. Namun, kami masih menunggu saat yang tepat untuk memulai</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted last">
                            <div class="timeline-image">
                                <h4>Let us
                                    <br>create our stories</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">The Big Day</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                 Tiada yang tahu rencana Allah untuk Ardhi dan Hilda. Insya Allah dengan kehendak-Nya, pada 20 Desember 2015, 9 Rabiul Awal 1437. Satu hari sebelum Rasulullah Muhammad SAW menikah dengan Khadijah. Kami berharap semoga keluarga kecil kami nantinya, dipenuhi rahmah seperti Rasulullah dan Khadijah, dipenuhi mawaddah seperti Rasulullah dan Aisyah, dan diberikan sakinnah pada hati kami.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
