<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sekilas Pandang</h2>
                    <h3 class="section-subheading text-muted">Kami tengadahkan jemari kehadirat Allah SWT seraya melafazkan do’a semoga Allah menuntun bahtera hidup putra putri kami.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                         <img src="img/team/1.jpg" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Hilda Zaikarina</h4>
                    <p class="text-muted">Putri pertama Bpk. Wasjan dan Ibu Titin Rasmanah</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                         <img src="img/team/2.jpg" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Ardhi Putra Pratama Hartono</h4>
                    <p class="text-muted">Putra ketiga dari Bpk. Joeli Hartono Rianto dan Ibu Ratna Juwita (almh.)</p>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                    <h3 class="section-subheading">Untuk mengikuti sunnah Rasulullah SAW dalam membentuk pribadi dan keluarga yang sakinnah, mawaddah dan warrahmah, di bawah ridho dan ampunan Allah SWT.</h3>
                </div>
        </div>
    </section>
