<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sekilas Pandang</h2>
                    <h3 class="section-subheading">“Dan diantara tanda-tanda kekuasaan-Nya ialah Dia menciptakan untukmu isteri-isteri dari jenismu sendiri, supaya kamu cenderung dan merasa tenteram kepadanya, dan dijadikanNya diantaramu rasa kasih dan sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda bagi kaum yang berpikir” (QS. Ar-Ruum : 21)</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    
                         <img src="img/team/hld-tmii3.jpg" class="img-responsive" alt="">
                    
                    <h4 class="service-heading">Hilda Zaikarina</h4>
                    <p >Putri pertama Bpk. Wasjan dan Ibu Titin Rasmanah</p>
                    <p align="left">"Hilda itu hobinya makan es krim. Anaknya pinter, kritis lagi. Seneng banget berbagi ilmu ke semua orang. Kerjaannya ngajar dari pagi sampe sore. Sayangnya Hilda suka lupa makan, lupa istirahat, dan asik sendiri kalau lagi fokus dengan suatu hal. Bisa-bisa dicuekin. Orangnya juga gampang deket dengan anak-anak, istilahnya "pengen godain anak-anak" terus. Kan gawat. Terlepas dari itu, saya yakin Hilda memiliki visi dan landasan yang sama dalam berkeluarga. She's not perfect, but I believe we can go through so-called-tough-but-sweet life together." (RD, 2015)</p>
                </div>
                <div class="col-md-6">
                   
                         <img src="img/team/rd-tmii2.jpg" class="img-responsive" alt="">
                   
                    <h4 class="service-heading">Ardhi Putra Pratama Hartono</h4>
                    <p>Putra ketiga dari Bpk. Joeli Hartono Rianto dan Ibu Ratna Juwita (almh.)</p>
                    <p align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis libero est. Maecenas vulputate elementum massa, in bibendum libero mattis sit amet. Curabitur eget metus quis purus pulvinar faucibus. Nulla laoreet orci enim, non fermentum magna iaculis quis. Nam maximus, turpis sed ullamcorper volutpat, sapien magna luctus velit, vel pretium nibh dui eu quam. Proin lacinia ex id eleifend sollicitudin. Donec quis aliquam quam, ut porttitor sem. Duis a nisl nec nisl ultrices gravida. In sed sapien at leo tincidunt blandit sit amet sed sapien</p>
                </div>
            </div>
            <br/>
            <div class="col-lg-12" text-center">
				<h3 class="service-heading">Untuk mengikuti sunnah Rasulullah S.A.W dalam membentuk pribadi dan keluarga yang sakinnah, mawaddah dan warrahmah, di bawah ridho dan ampunan Allah SWT.</h3>
			</div>
        </div>
    </section>
