<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
		
		<script>
		  window.fbAsyncInit = function() {
			FB.init({
			  appId      : '953526404703724',
			  xfbml      : true,
			  version    : 'v2.5'
			});
		  };

		  (function(d, s, id){
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) {return;}
			 js = d.createElement(s); js.id = id;
			 js.src = "//connect.facebook.net/en_US/sdk.js";
			 fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    
<hr/>
<h2>Comments</h2>
<div class="fb-comments" data-href="{{ "{{ site.url " }}}}{{ "{{ site.url " }}}}" data-num-posts="4" data-width="706"></div>
</div>


    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
